run = "npm install && npm start"
entrypoint = "src/index.js"

[nix]
channel = "stable-22_11"

[languages]
[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun" 